:root {
    /* Colors */
    --color-text: #1B3573;
    --color-primary: #1B3573;
    --color-secondary: #CCE1FF;
    --color-dark: #0b2447;
    --color-bg: #fff;

    /* fonts */
    --font-robot: "Roboto";

}